<p class = "sign-in-notice">
  <%= notice %>
</p>
<div class="signup">
  <h1>How to use</h1>
</div>

<div class="card bg-light" style="width: 600px; margin: auto;">
  <div class="card-body"> 
    <div class ="how_to_use_text">
      <p>・You can save your notes on the map or edit them.</p>
      <p>・Click "New note" if you would like to make a new note.</p>
      <p>・Click "All notes" if you would like to see all the note you made.<br>
       　And you can edit,and delete it.</p>
      <p>・Click "Profile" if you would like to confirm your Email address,change it or cancel your account.</p>
    </div>
  </div>
</div>