
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class= "signup">
  <div class="container">
    <div class="row">
      <h1>Sign up</h1>
      <form action="https://insta-clone-ymiya.c9users.io/users/" method="post">
      <!--<%= form_tag('/users', method: :post) do %>
        <% end %> -->
        <div class="form-group">
          <input class="form-control" placeholder="Name" autofocus="autofocus" type="text" name="user[name]" />
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Email address" autofocus="autofocus" type="email" name="user[email]" />
        </div>
        <div class="form-group">  
          <input class="form-control" placeholder="Password" autofocus="autofocus" type="password" name="user[password]" />
        </div>
        <div class="form-group">  
          <input class="form-control" placeholder="Password Confirmation" autofocus="autofocus" type="password" name="user[password_confirmation]" />
        </div>
        <div class="form-group">
          <input type="submit" name="commit" value="Sign up" class="btn btn-lg btn-primary btn-block btn-signin" data-disable-with="Create my account" />
        </div>
      </form>
  <!--</div>-->
    </div>
  </div>
 </div>
