// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  /* 設定したい画像 */
  background-image: url(/image/map.jpg);
  /* 画像を上下左右中央寄せ */
  background-position: center center;
  /* タイル状には並べないように指定 */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するディスプレイの大きさに基づいて、背景画像を縦横比を固定しながら調整 */
  background-size: cover;
  /* 画像が読み込まれる前の背景色の指定 */
  background-color: #464646;
}

nav {
  list-style: none;
  overflow: hidden;
}

nav li {
  width: 600px;
  text-align: right;
  display: inline-block;
  float: right;
}

nav ul {
float: right;
width: 600px;
}

.top-text p {
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 13px;/*サイズ2倍*/
  font-family :Quicksand, sans-serif;/*Google Font*/
  top: 10%;
  right: 16%;
  margin: 0,auto;
  text-align: center;
  padding: 20px 0px 20px 0px;
  width: 70%;
  height: 30%;
   background-color: rgba(0, 0, 0, 0.7);
}

.btn-fontsize {
font-size: 20px;
}