// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-signin {
margin-top: 10px;
}
.signup {
margin: 0 auto;
text-align: center;
width: 250px;
}

.mypagetitle {
text-align: center;
margin-bottom: 50px;
}

.mypagecontent {
text-align: center;
margin: 0 auto;
width: 250px;
}
.mypagetext {
text-align: left;  
}

.pictures-all-title {
text-align: center;
margin-bottom: 50px;
}

.user-new-title {
text-align: center;
margin-bottom: 50px;
}

.text-margin {
margin-bottom: 10px;
}
